* {
    box-sizing: border-box;
    font-family: RalewayRegular;
    color: #212121;

}

body {
    height: 100%;
    margin: 0;
    align-items: center;
    background-color: #FAFAFA;
}

title {
    display: none;
}

body, main, div, form, input, textarea, label, ul, li, header, footer, nav, a, h1, h2, h3, button, section {
    display: flex;
}

input:focus {
    /*outline: none;*/
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 0;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.box-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}

/*
    RESET END
*/

.banner {
    position: relative;
    width: 100%;
    height: 50vh;
    background: url("./img/kevin-delvecchio-273282.jpg") no-repeat center center;
    filter: contrast(120%);
    background-size: cover;
    justify-content: center;
    align-items: center;

    /*-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)))*/
}

.banner:after {
    position: absolute;
    content: '';

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: linear-gradient(to bottom, #093028, #237A57);

    opacity: 0.4;

}

.page-title {
    font-size: 72px;
    color: #FEFEFE;
    font-family: DancingScriptBold;
    align-items: center;
    margin-bottom: 10px;
    z-index: 20;
    text-align: center;

    filter: brightness(130%);

    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    /*margin-top: 100px;*/
}

.page-subtitle {
    margin-top: 0;
    font-size: 42px;
    color: #FEFEFE;
    font-family: DancingScriptRegular;
    z-index: 20;
    font-weight: 400;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.logo {
    z-index: 15;
    margin-right: auto;
    margin-left: 20px;
}

.logo img {
    height: 50px;
    width: 50px;
}

nav {
    width: 100%;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    padding: 10px 0;
}



.nav {
    background: transparent;
    position: fixed;
    z-index: 20;

    padding-right: 20px;

    box-shadow: none;
    justify-content: flex-end;
}

.nav-item a {
    position: relative;
    display: flex;
    font-family: RalewayMedium;
    font-size: 20px;
    font-weight: 300;
    color: #EEEEEE;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    padding: 3px 0;
    margin: 10px;

}

.nav-item a:hover {
    color: #388E3C;
}

.nav-item a:hover::after,
.nav-item a:hover::before {
    width: 100%;
    left: 0;
}

.nav-item a::after,
.nav-item a::before {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    width: 0;
    right: 0;
    height: 3px;
}

.nav-item a::before {
    -webkit-transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
    transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
    background: #CB5656;
}

.nav-item a::after {
    -webkit-transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: #45a247;
}

.aloldal {
    /*background-image: linear-gradient(to top left, #093028, #237A57);*/
}

.nav-aloldal {
    /*padding-top: 15px;
    padding-bottom: 15px;*/
    /*background: #15523d;*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    background: #FAFAFA;
}

.nav-aloldal a {
    color: #616161;
}

.nav-aloldal a:hover {
    color: #1B5E20;
}

.nav-aloldal a::before {
    background: #CB5656;
}

.nav-aloldal a::after {
    background: #237a57;
}

.subpage-title {
    margin-top: 70px;
    width: 100%;
    padding: 20px 0;

    font-family: RalewayMedium;
    font-weight: 400;
    font-size: 42px;

    justify-content: center;

    background: #237A57;

    color: #FEFEFE;
}

.content-wrapper {
    max-width: 1280px;
    width: 100%;

    padding-top: 40px;
}

.event-description {
    max-width: 50%;
    width: 50%;
    margin: 50px 0;
}

.event-description-title {
    font-size: 42px;
    line-height: 54px;

    padding-bottom: 5px;
    padding-left: 5px;

    margin-bottom: 20px;
    margin-top: 0;

    border-bottom: 2px solid #1B5E20;
    color: #1B5E20;

    font-family: RalewayMedium;
    font-weight: 600;
}

.event-description-text {
    height: auto;
    line-height: 35px;
    font-family: DancingScriptRegular;
    font-size: 28px;
    text-align: justify;
    margin-bottom: 5px;
    padding: 0 5px;
}

.main-sign-up {
    width: 50%;
    align-items: center;
    justify-content: center;
}

.main-sign-up-title {
    margin: 0;
    margin-bottom: 40px;

    font-size: 36px;
    line-height: 54px;
}

.main-sign-up-button {
    width: 180px;
    height: 60px;

    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-family: RalewayMedium;
    font-size: 18px;

    color: #FAFAFA;

    background: #1B5E20;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .26);

    transition: 0.3s all;
}

.main-sign-up-button:hover {
    background: #2E7D32;
    /*box-shadow: 2px 3px 5px rgba(0,0,0,.46);*/
}

/*
    JELENTKEZÉS
*/

.sign-up-wrapper {
    padding-top: 30px;
    min-height: 440px;
}

.form-title{
    font-family: RalewayMedium;
    font-size: 28px;
    font-weight: 400;
    color: #237A57;
    margin-bottom: 30px;
    margin-top: 5px;
}

.bold{
    margin-left: 7px;
    font-family: RalewayBold;
    font-size: 30px;
    color: #237A57;
}

.sign-up-form-wrapper {
    justify-content: space-between;

}

.form-inputs-wrapper {
    width: 40%;
}

.sign-up-form {
    width: 100%;
}

.form-input-wrapper {
    position: relative;
    max-width: 500px;
    width: 100%;
}

.input-label {
    position: absolute;
    margin-bottom: 5px;
    font-size: 18px;
    left: 8px;
    top: 10px;

    font-family: RalewayRegular;
    color: #BDBDBD;
    font-weight: 200;
    /*font-weight: 500;*/
    pointer-events: none;

    transition: 0.3s all;
}

.form-input {
    width: 100%;
    padding: 8px 5px;
    margin-bottom: 35px;
    border: 2px solid #237a57;
    border-radius: 2px;

    font-family: OpenSansRegular;
    font-size: 16px;

    opacity: 0.7;
    transition: 0.3s all;
}

.form-input:focus, .form-input:valid {
    opacity: 1;
    outline: #237a57;
}

.form-input:focus ~ .input-label, .form-input:valid ~ .input-label {
    top: -25px;
    left: 0;
    color: #237a57;

    font-weight: 600;
}

.form-textarea {
    resize: none;
    height: 150px;
    font-weight: 600;
}

.rules-wrapper {
    width: 60%;
    margin-left: 20px;

}

.rules-title {
    margin-top: 0;
    margin-bottom: 20px;

    font-family: RalewayMedium;
    font-size: 38px;
    color: #237A57;
}

.rules-text-wrapper {
    height: calc(100% - 130px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    line-height: 21px;

    overflow-y: auto;
    overflow-x: auto;
}

.rules-text {
    height: auto;
    margin-bottom: 5px;
}

.checkbox-wrapper {
    height: 20px;
}

.form-checkbox {
    position: relative;
    -webkit-appearance: none;

    width: 16px;
    height: 16px;
    margin: 1px 5px 0 0;

    border: 2px solid #237A57;
    opacity: 0.7;

    cursor: pointer;

    transition: 0.3s all;
}

.form-checkbox:before {
    position: absolute;
    content: '';
    display: none;
    height: 4px;
    width: 9px;
    top: 2px;
    left: 1px;

    border-left: 2px solid #FAFAFA;
    border-bottom: 2px solid #FAFAFA;

    transform: rotate(-50deg);
}

.form-checkbox:checked {
    background: #237A57;
    opacity: 1;
}

.form-checkbox:checked.form-checkbox:before {
    display: flex;
}

.form-submit {
    width: 180px;
    height: 60px;

    font-family: RalewayBold;
    font-size: 18px;

    border: 2px solid #237A57;
    border-radius: 2px;
    color: #237A57;

    background: transparent;

    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.4s all;
}

.form-submit:hover {
    background: #237A57;
    color: #FAFAFA;
}

.form-message {
    margin-top: -15px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #1B5E20;
    font-family: RalewayBold;
}


.prizes-content-wrapper{
    padding: 0 5px;
    justify-content: space-between;
    margin-bottom: 50px;
}


.prizes-title{
    width: 100%;
    font-family: DancingScriptRegular;
    font-size: 48px;
    justify-content: center;

    color: #237A57;

    padding-bottom: 20px;
    border-bottom: 2px solid #237A57;
}

.prize-wrapper{
    align-items: center;

}

.prize-title{
    font-family: DancingScriptBold;
    font-size: 32px;
    color: #237A57;
    margin-bottom: 5px;
    font-weight: 800;
}

.prize-text{
    font-family: DancingScriptRegular;
    font-size: 22px;

    margin-bottom: 5px;
}

.prize-img{
    height: 250px;
}



/*
    PROGRAMOK
*/

.programmes-wrapper {

}

.programmes-panel {
    padding: 0 20px;
    margin-bottom: 80px;
}

.programmes-panel:nth-of-type(2) {
    padding-top: 40px;
    border-top: 2px solid #237a57;
}

.programmes-panel-left {
    max-width: 60%;
    font-family: DancingScriptRegular;
    font-size: 26px;
    line-height: 42px;

    text-align: justify;
    padding-right: 40px;
    align-items: center;
    justify-content: center;

}

.programmes-panel-right {
    justify-content: flex-end;
}

.programmes-gallery-wrapper {
    height: 400px;
    width: 550px;

    border-radius: 5px;
    overflow: hidden;
}

.justify-content {
    align-items: center;
}

.programmes-text {
    width: 100%;
    font-family: DancingScriptRegular;
    font-size: 28px;
    line-height: 52px;
    padding: 0 10px;
}

.programmes-text:first-of-type{
    font-size: 30px;
    font-family: DancingScriptBold;
    border-bottom: 2px solid #237A57;
    margin-bottom: 5px;
    padding: 10px;

}

.gallery-wrapper {
    position: relative;
}

.gallery-item {
    z-index: 10;
    position: absolute;
    width: 550px;
    height: 400px;
    overflow: hidden;
    justify-content: center;
    opacity: 0;
}

.gallery-img {
    width: auto;
    object-fit: contain;
    justify-content: center;
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in 1 forwards;
}

.fade-out{
    opacity: 1;
    animation: fadeOut 1s ease-in 1 forwards;
}

.is-paused {
    animation-play-state: paused;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.programmes-download-wrapper{
    max-width: 150px;
    align-self: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s all;
}

.programmes-download-wrapper:hover{
    box-shadow: 0 2px 8px rgba(0, 0, 0, .76);
}

.download-image{
    height: 150px;

    justify-content: center;
    align-items: center;

    background: #43A047;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 24px;
    font-family: RalewayBold;
    color: #FAFAFA;
}

.download-text{
    text-align: center;
    padding: 10px 9px;

    font-family: RalewayMedium;
    font-size: 14px;
    color: #FEFEFE;
    background: #237A57;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*
    GALRÉRIA
*/

.gallery-title{
    justify-content: center;
    font-family: RalewayMedium;
    font-size: 52px;
    color: #237a57;

    margin: 0;
    height: calc(100vh - 377px);
}


/*
    KAPCSOLAT
*/

.contact-info-wrapper{
    align-items: center;
    margin-bottom: 40px;
}

.contact-title{
    font-family: DancingScriptRegular;
    font-size: 48px;
    justify-content: center;
    text-align: center;
    color: #1B5E20;
    margin-top: 0;
}

.contact-info-title{
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;

    font-size: 36px;
    color: #1B5E20;
}

.contact-info{
    max-width: 500px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 0 5px;
    align-items: center;
    border-bottom: 1px solid #BDBDBD;
    color: #313131;
}

.contact-link{
    display: inline-flex;
    font-weight: 600;
    color: #1B5E20;
    border-bottom: 2px solid #fafafa;
    margin-left: auto;
}

.contact-link:hover{
    border-bottom: 2px solid #1B5E20;
}

.contact-map-wrapper{
    margin-top: 40px;
    margin-bottom: 70px;
}

.contact-map-wrapper-left{
    width: 55%;
    padding-right: 40px;
}


.contact-map-title{
    font-size: 38px;
    padding-bottom: 10px;
    margin-bottom: 0;
    color: #1B5E20;

}

.contact-map-subtitle{
    font-size: 30px;
    color: #2E7D32;
    margin: 0;
    padding-bottom: 20px;
    padding-left: 5px;


}

.google-map{
    width: 45%;
    max-width: 550px;
    height: 450px;
    background: #eee;
}

.contact-map-coordinates-wrapper{
    border-top: 2px solid #237A57;
}

.coordinates-row{
    width: 100%;
    padding: 10px 5px;
    border-bottom: 1px solid #BDBDBD;
}

.coordinates-row p{
    width: 100%;

}

.coordinates-header p{
    font-family: RalewayMedium;
    font-size: 18px;
}

/*
    TÁMOGATÓK
*/

.supporters-wrapper{
    padding-top: 0;
}

.supporter-wrapper{
    margin-bottom: 60px;
}

.supporter-wrapper:last-of-type{
    margin-bottom: 40px;
}

.supporter-title{
    font-family: DancingScriptRegular;
    font-size: 42px;

    color: #237a57;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 0;
}

.supporter-img{
    object-fit: contain;
}




/*
    FOOTER
*/

footer {
    width: 100%;
    height: 100px;
    margin-top: 50px;

    background: #212121;

    border-top: 2px solid #1B5E20;

    align-items: center;
    justify-content: center;
}

.footer-made-by {
    color: #9E9E9E;
    line-height: 21px;
}





@media screen and (max-height: 600px)  {
    .event-description{
        margin: 0;
    }
}
















/*
    FONTS
*/

@font-face {
    font-family: OpenSansRegular;
    src: url('./fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSansBold;
    src: url('./fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: OpenSansLight;
    src: url('./fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: RalewayLight;
    src: url('./fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: RalewayRegular;
    src: url('./fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: RalewayMedium;
    src: url('./fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: RalewayBold;
    src: url('./fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: DancingScriptRegular;
    src: url('./fonts/DancingScript-Regular.ttf');
}

@font-face {
    font-family: DancingScriptBold;
    src: url('./fonts/DancingScript-Bold.ttf');
}

@font-face {
    font-family: SatisfyRegular;
    src: url('./fonts/Satisfy-Regular.ttf');
}








