* {
    box-sizing: border-box;
    font-family: RalewayRegular;
}

body {
    height: 100vh;
    margin: 0;
    background: #FEFEFE;
    align-items: center;
}

title {
    display: none;
}

body, main, div, input, ul, li, header, nav, a, h1, h2, h3, button, section {
    display: flex;
}

input:focus {
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

p {
    margin: 0;
}

.col{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

/*
    RESET END
*/

.content-wrapper{
    max-width: 1280px;
    width: 100%;
    align-items: center;
}

.banner {
    width: 100%;
    height: 400px;
    background: url("./img/kevin-delvecchio-273282.jpg") no-repeat center center;
    background-size: cover;
    justify-content: center;
}

.page-title{
    font-size: 48px;
    color: #FEFEFE;
    font-family: OpenSansRegular;
    align-items: center;
    /*margin-top: 100px;*/
}

nav{
    width: 100%;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    padding: 10px 0;
}

.nav-item{
    height: 40px;
}

.nav-item a{
    position: relative;
    line-height: 21px;
    height: 40px;
    align-items: center;
    padding: 0 10px;
    margin: 0 10px;
    font-family: RalewayMedium;
    font-size: 18px;
    text-transform: uppercase;

    overflow: hidden;

    color: #1B5E20;

    /*border-bottom: 2px solid #fff;*/
}

.nav-item a:after{
    position: absolute;
    bottom: 0;
    left: -200px;

    content: '';
    height: 2px;
    width: 100%;
    background: #1B5E20;

    transition: 0.4s all;
}

.nav-item a:hover:after{
    left: 0;
}



/*
    FONTS
*/

@font-face{
    font-family: OpenSansRegular;
    src: url('./fonts/OpenSans-Regular.ttf');
}

@font-face{
    font-family: OpenSansBold;
    src: url('./fonts/OpenSans-Bold.ttf');
}

@font-face{
     font-family: OpenSansLight;
     src: url('./fonts/OpenSans-Light.ttf');
}

@font-face{
    font-family: RalewayLight;
    src: url('./fonts/Raleway-Light.ttf');
}

@font-face{
    font-family: RalewayRegular;
    src: url('./fonts/Raleway-Regular.ttf');
}

@font-face{
    font-family: RalewayMedium;
    src: url('./fonts/Raleway-Medium.ttf');
}

@font-face{
    font-family: RalewayBold;
    src: url('./fonts/Raleway-Bold.ttf');
}







