* {
    box-sizing: border-box;
    font-family: RalewayRegular;
    color: #212121;


}

body {
    height: 100%;
    margin: 0;
    align-items: center;
    background-color: #F5F5F5;
}

title {
    display: none;
}

body, main, div, input, ul, li, header, nav, a, h1, h2, h3, button, section {
    display: flex;
}

input:focus {
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 0;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.box-shadow{
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

/*
    RESET END
*/


.banner {
    position: relative;
    width: 100%;
    height: 50vh;
    min-height: 500px;
    background: url("./img/kevin-delvecchio-273282.jpg") no-repeat center center;
    filter: contrast(120%);
    background-size: cover;
    justify-content: center;

    /*-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)))*/
}

.banner:after {
    position: absolute;
    content: '';

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: linear-gradient(to bottom, #093028, #237A57);

    opacity: 0.4;

}

.page-title {
    font-size: 72px;
    color: #FEFEFE;
    font-family: DancingScriptBold;
    align-items: center;

    text-align: center;
    z-index: 20;

    filter: brightness(130%);

    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    /*margin-top: 100px;*/
}

.logo{
    z-index: 15;
    margin-right: auto;
    margin-left: 20px;
}

.logo img{
    height: 50px;
    width: 50px;
}

nav {
    width: 100%;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    padding: 10px 0;
}

/*.nav-item {
    height: 40px;
}

.nav-item a {
    position: relative;
    line-height: 21px;
    height: 40px;
    align-items: center;
    padding: 0 10px;
    margin: 0 10px;
    font-family: RalewayMedium;
    font-size: 18px;
    text-transform: uppercase;

    overflow: hidden;

    color: #1B5E20;
    transition: 0.6s all;
    !*border-bottom: 2px solid #fff;*!
}

.nav-item a:after {
    position: absolute;
    bottom: 0;
    left: -200px;

    content: '';
    height: 2px;
    width: 100%;
    background: #1B5E20;

    transition: 0.6s all;
}

.nav-item a:hover:after {
    left: 0;
}

.nav-item a:hover {
    color: #33691E;
}*/

.nav {
    background: transparent;
    position: fixed;
    z-index: 20;

    padding-right: 20px;

    box-shadow: none;
    justify-content: flex-end;
}

.nav-item a {
    position: relative;
    display: flex;
    font-family: RalewayMedium;
    font-size: 20px;
    font-weight: 300;
    color: #EEEEEE;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    padding: 3px 0;
    margin: 10px;

}

.nav-item a:hover {
    color: #388E3C;
}

.nav-item a:hover::after,
.nav-item a:hover::before {
    width: 100%;
    left: 0;
}

.nav-item a::after,
.nav-item a::before {
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    width: 0;
    right: 0;
    height: 3px;
}

.nav-item a::before {
    -webkit-transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
    transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
    background: #CB5656;
}

.nav-item a::after {
    -webkit-transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: #45a247;
}

.aloldal{
    /*background-image: linear-gradient(to top left, #093028, #237A57);*/
}

.nav-aloldal {
    /*padding-top: 15px;
    padding-bottom: 15px;*/
    /*background: #15523d;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);*/
}

.nav-aloldal a{
    color: #616161;
}

.nav-aloldal a:hover{
    color: #1B5E20;
}

.nav-aloldal a::before{
    background: #CB5656;
}

.nav-aloldal a::after{
    background: #1B5E20;
}

.subpage-title{
    margin-top: 70px;
    width: 100%;
    padding: 20px 0;

    font-family: RalewayMedium;
    font-weight: 400;
    font-size: 42px;

    justify-content: center;

    background: #237A57;

    color: #FEFEFE;
}

.content-wrapper {
    max-width: 1280px;
    width: 100%;

    padding-top: 40px;
}


.event-description{
    max-width: 50%;
}


.event-description-title{
    font-size: 42px;
    line-height: 54px;

    padding-bottom: 5px;
    padding-left: 5px;

    margin-bottom: 20px;
    margin-top: 0;

    border-bottom: 2px solid #1B5E20;
    color: #1B5E20;

    font-family: RalewayMedium;
    font-weight: 600;
}

.event-description-text{
    height: auto;
    line-height: 21px;
    text-align: justify;
    margin-bottom: 5px;
    padding: 0 5px;
}

.main-sign-up{
    width: 50%;
    align-items: center;
    justify-content: center;
}

.main-sign-up-title{
    margin: 0;
    margin-bottom: 40px;

    font-size: 36px;
    line-height: 54px;
}

.main-sign-up-button{
    width: 180px;
    height: 60px;


    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    font-family: RalewayMedium;
    font-size: 18px;

    color: #FAFAFA;


    background: #1B5E20;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.26);

    transition: 0.3s all;
}

.main-sign-up-button:hover{
    background: #2E7D32;
    /*box-shadow: 2px 3px 5px rgba(0,0,0,.46);*/
}





footer{
    width: 100%;
    height: 100px;
    margin-top: 50px;

    background: #212121;

    border-top: 2px solid #1B5E20;
}


/*
    FONTS
*/

@font-face {
    font-family: OpenSansRegular;
    src: url('./fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSansBold;
    src: url('./fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: OpenSansLight;
    src: url('./fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: RalewayLight;
    src: url('./fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: RalewayRegular;
    src: url('./fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: RalewayMedium;
    src: url('./fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: RalewayBold;
    src: url('./fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: DancingScriptRegular;
    src: url('./fonts/DancingScript-Regular.ttf');
}

@font-face {
    font-family: DancingScriptBold;
    src: url('./fonts/DancingScript-Bold.ttf');
}

@font-face {
    font-family: SatisfyRegular;
    src: url('./fonts/Satisfy-Regular.ttf');
}








